article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: 'Roboto', 'Lexend';
        font-style: bold;
        font-weight: 500;
        font-size: 2rem;
        line-height: 16vh;
        color: #DCDCDC;
    }

    form {
        background: linear-gradient(180deg, #343D6B 0%, #2C3A7A 100%);
        border-radius: 4.501vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4vh 5vw;
        min-width: 20rem;
    }
      
    .mat-ecv-outlined-color {
        background: transparent;
        border: #7626c5 0.2rem solid;
        border-radius: 1.25rem;
        color: #dcdcdc;
        min-width: 17.5rem;
        height: 3.5rem;
    }

    .mat-ecv-color {
        background: linear-gradient(95.96deg, #7D1DDC 0%, #6F2FAE 100%);
        text-align: center;
        font-family: 'Roboto', 'Lexend';
        color: #dcdcdc;
        min-width: 17.5rem;
        height: 3.5rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 5rem;
    }

    .inputForm {
        min-width: 17.5rem;
        height: 4.8vh;
        background-color: transparent;
        border: #4F598E 0.125vw solid;
        border-radius: 0.261vw;
        margin-bottom: 4.501vh;
    }

    .inputForm:focus {
        outline: none;
    }

    label {
        font-family: 'Roboto', 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.6vh;
        color: #DCDCDC;
        margin-bottom: 0.8vh;
        padding: 0 0.261vw;
        text-align: center;
    }

    .textAreaForm {
        height: 16vh;
        resize: none;
    }

    .fieldContainer {
        display: flex;
        flex-direction: column;
    }

    .redText {
        color: #e71818
    }
}