.shillsShowerContainer {
    padding: 2.5rem 0;
    width: 82.375rem;
    background: linear-gradient(180deg, #343D6B 0%, #2C3A7A 100%);
    border-radius: 2.813rem;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, 6.25rem);
    gap: 4rem;
}