footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.375rem;
    margin-top: 4.06rem;
}

#networks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 7.5rem;
}

.social {
    width: 2.5rem;
    height: 2.5rem;
}

#made-with-love {
    color: #DCDCDC;
    font-family: 'Roboto', 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 2.125rem;
    margin: 0;
}