<header id="accueil">
    <nav>
        <ul class="titles">
            <li><a class="link" (click)="goTo('accueil')">Accueil</a></li>
            <li><a class="link" (click)="goTo('competences')">Mes compétences</a></li>
            <li><a class="link" (click)="goTo('projets')">Mes projets</a></li>
            <li><a class="link" (click)="goTo('parcours')">Mon parcours</a></li>
            <li><app-button (doClick)="goTo('contact')" text="Contact"/></li>
        </ul>
    </nav>
</header>