header {
    display: flex;
    justify-content: center;
    margin-top: 2.5vw;

    .titles {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 6.667vw;;
    }
    
    .link {
        text-decoration: none;
        font-family: 'Roboto', 'Lexend';
        color: #DCDCDC;
        font-style: normal;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 3.125vw;
        cursor: pointer;
    }
}