#projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;

    h2 {
        font-style: bold;
        font-weight: 500;
        font-size: 2rem;
        color: #DCDCDC;
        font-family: 'Roboto', 'Lexend';
        margin: 0;
    }
}