article {
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #39437A 0%, #2C3A7A 100%);
    border-radius: 2.344vw;
    min-width: 45rem;
    padding: 2rem;

    .imgContainer {  
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2;

        img {
            cursor: pointer
        }
    }

    .infosContainer {
        display: flex;
        flex-direction: column;
        flex: 4;

        .languagesContainer {
            display: flex;
            flex-direction: row;
            gap: 2vw;
            margin-top: 1rem;
            
            img {
                height: 3.6rem;
                width: auto;
            }
        }

        h3 {
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            margin: 0;
            color: #DCDCDC;
            margin-bottom: 1rem;
        }

        p {
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 0.75rem;
            margin: 0;
            color: #BDBDBD;
            margin-bottom: 1rem;
        }
    }
}