.button {
  width: 10rem;
  height: 3rem;
  color: #DCDCDC;
  font-family: 'Roboto', 'Lexend';
}

.mat-ecv-color {
  background: linear-gradient(95.96deg, #7D1DDC 0%, #6F2FAE 100%);
  color: #dcdcdc;
}

.mat-ecv-outlined-color {
  background: transparent;
  border: #7626c5 0.2rem solid;
  border-radius: 1.25rem;
  color: #dcdcdc;
}