#parcours {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;

    h2 {
        font-style: bold;
        font-weight: 500;
        font-size: 2rem;
        color: #DCDCDC;
        font-family: 'Roboto', 'Lexend';
        margin: 0;
    }

    #parcoursContainer {
        margin-top: 8vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 8.333vw;
        row-gap: 8vh;
        background: url("/assets/parcours/background.svg") no-repeat;
        background-size: auto 100%;
        background-position: center;
    }
}

@media only screen and (max-width: 768px) {
    #parcours {
        #parcoursContainer {
            margin-top: 8vh;
            display: flex;
            flex-direction: column;
            gap: 8.333vw;
            background: none;
        }
    }
}