article {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.083vw;

    .jobContainer {
        display: flex;
        flex-direction: column;
        gap: 0.4vh;

        h3 {
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-weight: 400;
            margin: 0;
            font-size: 1rem;
            color: #BDBDBD;
        }

        .title {
            color: #DCDCDC;
            font-size: 1.2rem;
        }
        
        p {
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-weight: 400;
            margin: 0;
            color: #9D9D9D;
            font-size: 0.8rem;
        }
    }
}

.imgLeft {
    flex-direction: row;
}

.imgRight {
    flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
    article {
        justify-content: center;
    }

    .imgRight {
        flex-direction: row;
    }
}