main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 9.375rem;
    gap: 17.5rem;

    .presContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        h1 {
            color: #DCDCDC;
            margin: 0;
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 6.25rem;
            line-height: 6.5rem;
        }
    
        h2 {
            color: #DCDCDC;
            margin: 0;
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 2.25rem;
            line-height: 3rem;
        }
    
        p {
            color: #BDBDBD;
            margin: 0;  
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-size: 1.25rem;
            line-height: 2.5rem;
        }

        .btnsCont {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2.5rem
        }
    }
    
    img {
        width: 33.438rem;
        height: 33.438rem;
        border-radius: 11.875rem;
    }
}