main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15vh;
    gap: 10vw;

    .presContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        h1 {
            color: #DCDCDC;
            margin: 0;
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 6.25rem;
            line-height: 10.4vh;
            margin-bottom: 1rem;
        }
    
        h2 {
            color: #DCDCDC;
            margin: 0;
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 4.8vh;
        }
    
        p {
            color: #BDBDBD;
            margin: 0;  
            font-family: 'Roboto', 'Lexend';
            font-style: normal;
            font-size: 1.25rem;
            line-height: 4vh;
        }

        .btnsCont {
            margin-top: 2.4vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2.083vw
        }
    }
    
    img {
        min-width: 27rem;
        height: auto;
        border-radius: 10rem;
    }
}